// ==========================================================================
// Typography
// ==========================================================================

@import
	"variables";

body {
	font: $normal #{ map-get( $root-font, font-size ) }/#{ map-get( $root-font, line-height ) } $sans-serif;

	@media ( max-width: 800px ) {
		font-size: 16px;
	}
	@media ( max-width: 500px ) {
		font-size: 14px;
	}
}

input,
button {
	line-height: map-get( $root-font, line-height );
}
