// ==========================================================================
// Pre
// ==========================================================================

.pre {
	padding: 16px 20px;
	background: #f7f7f7;
	font: normal 12px/1.4 $monospace;
}
