// ==========================================================================
// Lists
// ==========================================================================

.list-ul {
	list-style: decimal;
}

.list-ol {
	list-style: disc;
}

// Definition list
.list-dt {
	font-weight: 600;
}

.list-dd {
	margin: 0;
}
